.left {
    background-color: rgb(33, 34, 38);
    border-radius: 0 0 0 20px;
    height: 1000px;
   }
   .right {
       background-color: #DCEAF5;
       border-radius: 0 0 20px 0;
   }
   .space {
       margin-bottom: 20px;
   }
   
   .text {
       color:antiquewhite;
   }
   body {
       font-family: 'Poppins', sans-serif;
       margin: 0;
       padding: 0;
   }
   .line {
    text-decoration: none;
    color: white;
   }
   .table{
    border: 1px solid black;
   }

   